extends layout

block content
  h1=title
  form(id='BikeForm', action="/resource/bikes", method="POST")
    div.form-group
      label.bikeAttr(for='brand') Brand
      input#brand(type='text', name='brand')
      p
    div.form-group
      label.bikeAttr(for='model') Model
      input#model(type='text', name='model')
      p
    div.form-group
      label.bikeAttr(for='engine_capacity') Engine Capacity
      input#engine_capacity(type='number', name='engine_capacity')
    br
    input(type="submit")
  script.
    document.forms['BikeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });